<h1>~Transmissions from a Lonely Room...</h1><br>
<h2>...a web log for the consolers of the lonely~</h2>

<form action="/newEntry">
<input class='spicy' type='submit' value='Add Another Musing?'>
</form>


<h3> l a t e s t E n t r i e s :</h3>
<div>
</div>
<footer>
  <p>Designed by: Thomas Rizzo, 2016</p>
</footer>
