<!-- <h1 style="text-align:right">...mooR ylenoL a morf snoissimsnarT</h1><br>
<h2>ylenol eht fo srelosnoc eht rof gol bew a...</h2> -->

<div id='completeEntry'>
  <form>
    <span style="font-size: 25px; font-family:cursive">Title:</span><br>
      <input id='title' type="text" name='title'><br>
    <span style="font-size: 25px; font-family: cursive">Entry:</span><br>
      <textarea id='entry' name='entry'></textarea><br>
      <input class='spicy' type='submit' value="Submit this Entry">
  </form>
</div>

<footer>
  <form action="/">
    <input class='spicy' type='submit' value='Back'>
  </form>
  <p>Designed by: Thomas Rizzo, 2016</p>
</footer>
